<mat-toolbar>
  <span>Ludovico's Angular Portfolio</span>
  <button mat-button (click)="onClick('/personal')">
    <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
    {{'homeTabAbout' | translate}}
  </button>
  <button mat-button (click)="onClick('/education')">
    <mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon>
    {{'homeTabSchool' | translate}}
  </button>
  <button mat-button (click)="onClick('/work')">
    <mat-icon aria-hidden="false" aria-label="Example home icon">work</mat-icon>
    {{'homeTabExperience' | translate}}
  </button>
  <button mat-button (click)="onClick('/contact')">
    <mat-icon aria-hidden="false" aria-label="Example home icon">chat</mat-icon>
    {{'homeTabContact' | translate}}
  </button>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with share icon">
    {{translate.currentLang}}
    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="changeLang('pt')" mat-menu-item>{{'langMenuPt' | translate}}</button>
    <button (click)="changeLang('en')" mat-menu-item>{{'langMenuEn' | translate}}</button>
  </mat-menu>
</mat-toolbar>