<mat-toolbar>
  <span>Ludovico's Angular Portfolio</span>
  <button mat-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
    Pessoal
  </button>
  <button mat-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon>
    Formação
  </button>
  <button mat-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">work</mat-icon>
    Experiência Profissional
  </button>
  <button mat-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">chat</mat-icon>
    Contato
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
  </button>
</mat-toolbar>