<spa-navbar></spa-navbar>
<div class="horizontal-container">
  <div class="avatar">
    <img src="/assets/marcelo.jpg" class="avatar-image" alt="">
  </div>
  <div class="contacts">
    <mat-card class="contact-card">
      <a href="tel:+5519996856275">
        <mat-card-header>
          <div mat-card-avatar class="card-image phone"></div>
          <mat-card-title>{{infos.phoneLabel | translate}}</mat-card-title>
          <mat-card-subtitle>
            {{infos.phone | translate}}
          </mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card class="contact-card">
      <a href="tel:+5519996856275">
        <mat-card-header>
          <div mat-card-avatar class="card-image skype"></div>
          <mat-card-title>Skype</mat-card-title>
          <mat-card-subtitle>
            maludovico@msn.com
          </mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card class="contact-card">
      <a href="mailto:maludovico@gmail.com">
        <mat-card-header>
          <div mat-card-avatar class="card-image email"></div>
          <mat-card-title>E-mail</mat-card-title>
          <mat-card-subtitle>
            maludovico@gmail.com
          </mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card class="contact-card">
      <a href="https://www.linkedin.com/in/marcelo-ludovico-83992931">
        <mat-card-header>
          <div mat-card-avatar class="card-image linkedin"></div>
          <mat-card-title>LinkIn</mat-card-title>
          <mat-card-subtitle>
            https://www.linkedin.com/in/marcelo-ludovico-83992931
          </mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
    <mat-card class="contact-card">
      <a href="https://github.com/mludovico">
        <mat-card-header>
          <div mat-card-avatar class="card-image github"></div>
          <mat-card-title>Github</mat-card-title>
          <mat-card-subtitle>
            https://github.com/mludovico
          </mat-card-subtitle>
        </mat-card-header>
      </a>
    </mat-card>
  </div>
</div>