<spa-navbar></spa-navbar>
<div class="container">
  <mat-card class="info-card">
    <mat-card-title>Desenvolvedor Flutter</mat-card-title>
    <mat-card-content>
      <p><strong>Empresa: </strong>Freelancer</p>
      <p><strong>De: </strong>2018</p>
      <p><strong>Até: </strong>atualmente</p>
      <p><strong>Descrição: </strong>Desenvolvimento de aplicativos para Android e iOS em Flutter desde o desenho até a publicação nas respectivas lojas.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card">
    <mat-card-title>Supervisor Técnico</mat-card-title>
    <mat-card-content>
      <p><strong>Empresa: </strong>EPTV Campinas</p>
      <p><strong>De: </strong>2014</p>
      <p><strong>Até: </strong>atualmente</p>
      <p>
        <strong>Descrição: </strong>
        Gestão de equipe técnica e desenvolvimento de soluções de software utilizando diversas tecnologias
         como C#, PHP, Javascript, HTML, CSS, PostgreSQL, VMWare, Docker, etc.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card">
    <mat-card-title>Engenheiro</mat-card-title>
    <mat-card-content>
      <p><strong>Empresa: </strong>EPTV Campinas</p>
      <p><strong>De: </strong>2012</p>
      <p><strong>Até: </strong>2014</p>
      <p><strong>Descrição: </strong>Desenvolvimento de aplicativos para Android e iOS em Flutter desde o
         desenho até a publicação nas respectivas lojas.</p>
    </mat-card-content>
  </mat-card>
</div>