<spa-navbar></spa-navbar>
<div class="container">
  <mat-card class="info-card">
    <mat-card-title>{{'homeTabAbout' | translate}}</mat-card-title>
    <mat-card-content>
      <p><strong>{{'aboutPersonalNameLabel' | translate}}: </strong>{{'aboutPersonalNameValue' | translate}}</p>
      <p><strong>{{'aboutPersonalAgeLabel' | translate}}: </strong>{{age}}</p>
      <p><strong>{{'aboutPersonalMissionLabel' | translate}}: </strong>{{'aboutPersonalMissionValue' | translate}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card">
    <mat-card-title>{{'aboutLocation' | translate}}</mat-card-title>
    <mat-card-content>
      <p><strong>{{'aboutLocationCountryLabel' | translate}}: </strong>{{'aboutLocationCountryValue' | translate}}</p>
      <p><strong>{{'aboutLocationStateLabel' | translate}}: </strong>{{'aboutLocationStateValue' | translate}}</p>
      <p><strong>{{'aboutLocationCityLabel' | translate}}: </strong>{{'aboutLocationCityValue' | translate}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card">
    <mat-card-title>{{'aboutSkills' | translate}}</mat-card-title>
    <mat-card-content>
      <p *ngFor="let skill of skills">
        <strong>{{Skill}}</strong>
      </p>
    </mat-card-content>
  </mat-card>
</div>